{% extends 'base.html'%}

{% block content %}
{% if all_comments %}
{% for comments in all_comments %}
    <b>{{comments.author}}:</b> <i>{{comments.comment}}</i> <br>
{%endfor%}
{%else%}
No comments 
{%endif%}
<br>


<form class="form" action="" method="post" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-10">
            {{ form }}
        </div>
        <div class="col-md-2 mt-4" >
            <button type="submit" class="btn btn-sm btn-outline-primary" style="margin-top:14px; margin-left:-1000px">post</button>
        </div>

    </div>
</form>

{%endblock%}