{% extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}
{% for images in all_images %}
<div class="container">
<img class="rounded-circle account-img" src="{{images.user.profile_photo.url}}" alt="" style="height: 25px;">
{{images.user}}

<div class="card" style="width: 18rem;">
    <img src="{{images.image.url}}" class="card-img-top" alt="...">
    <!-- <div class="card-body">
      
    </div> -->
  </div>
  <a href="{% url 'comments' images.id %}"><i class="fa fa-comments-o fa-2x" aria-hidden="true" style="color: black;"></i></a>
  
  <div class="row">
      <div class="col-sm-3"> <b>{{images.user}}</b> 
   </div>
   <div class="col-sm-3">
  <i>{{images.image_caption}}</i>
</div>
</div>
  <a href="{% url 'comments' images.id %}"><button type="button" class="btn btn-light">add a comment..</button></a> 

</div>
<br>



{%endfor%}
{%endblock%}
